<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/wangEditor.min.css">
    <title>add project</title>




</head>
<body>
    <input type="text" id="name" placeholder="name"> <br>
    <input type="text" id="category" placeholder="category"> <br>
    <input type="text" id="species" placeholder="species"><br>
    <input type="text" id="cell_type" placeholder="cell type"><br>
    <input type="text" id="manager" placeholder="manager No."><br>
    <div id="infomation" style="height:500px;">
		<p>please input...</p>
	</div>
	<button id="btn1">button</button>
    <script type="text/javascript" src="/static/dist/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/dist/js/wangEditor.min.js"></script>
    <script type="text/javascript" src="/static/js/my/post_data.js"></script>


</body>
</html>