<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/wangEditor.min.css">
    <title>add file</title>




</head>
<body>
    <input type="text" id="name" placeholder="name"> <br>
    <!--<input type="text" id="location" placeholder="location"><br>-->
    <input type="text" id="project" placeholder="project"><br>
    <input type="text" id="type" placeholder="type"><br>
    <input type="text" id="file_type" placeholder="file_type"><br>
    <input type="text" id="author" placeholder="author"><br>
    <input type="text" id="under" placeholder="under"><br>
    <div id="infomation" style="height:500px;">
		<p>please input...</p>
	</div>
	<button id="add_file_submit">button</button>

    <br>
    <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
<br />

<div id="container">
    <a id="pickfiles" href="javascript:;">[Select files]</a>
    <a id="uploadfiles" href="javascript:;">[Upload files]</a>
</div>

<br />
<pre id="console"></pre>
    <script type="text/javascript" src="/static/dist/js/lib/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="/static/dist/js/wangEditor.min.js"></script>
    <script type="text/javascript" src="/static/plupload/plupload.full.min.js"></script>

    <script type="text/javascript" src="/static/js/my/post_data.js"></script>
    <script>




// Custom example logic

var uploader = new plupload.Uploader({
    runtimes : 'html5,flash,silverlight,html4',

    browse_button : 'pickfiles', // you can pass in id...
    container: document.getElementById('container'), // ... or DOM Element itself

    url : "/upload",

    filters : {
        max_file_size : '1000mb',
        mime_types: [
            {title : "Image files", extensions : "jpg,gif,png"},
            {title : "Zip files", extensions : "zip"},
            {title : "Movie files", extensions : "rmvb"}
        ]
    },

    // Flash settings
    flash_swf_url : '/static/plupload/Moxie.swf',

    // Silverlight settings
    silverlight_xap_url : '/static/plupload/Moxie.xap',


    init: {
        PostInit: function() {
            document.getElementById('filelist').innerHTML = '';

            document.getElementById('uploadfiles').onclick = function() {
                uploader.start();
                return false;
            };
        },

        FilesAdded: function(up, files) {
            plupload.each(files, function(file) {
                document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
            });
        },

        UploadProgress: function(up, file) {
            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
        },

        Error: function(up, err) {
            document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
        }
    }
});

uploader.init();


    </script>

</body>
</html>