<html>
		<head>	
				<link rel="stylesheet" type="text/css" href="css/simditor.css" />

				<script type="text/javascript" src="js/jquery.min.js"></script>
				<script type="text/javascript" src="js/module.js"></script>
				<script type="text/javascript" src="js/hotkeys.js"></script>
				<script type="text/javascript" src="js/uploader.js"></script>
				<script type="text/javascript" src="js/simditor.js"></script>

		</head>

		<body>	

				<textarea id="editor" placeholder="Balabala" autofocus></textarea>



				<script type="text/javascript">
						var editor = new Simditor({
  								textarea: $('#editor')
  								//optional options
						});
				</script>
		</body>



</html>