<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
  </head><body>
    
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-15">
                <div class="page-header">
                  <h1>Experiment summary for ENCSR403DHH</h1>
                </div>
                <div class="col-md-12">
                  <ul>
                    <li>Infomation1:</li>
                    <li>Infomation2:</li>
                    <li>Infomation3:</li>
                    <li>Infomation4:</li>
                    <li>Infomation5:</li>
                    <li>Infomation6:</li>
                    <li>Infomation7:</li>
                  </ul>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <h2>Raw Data</h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Accession</th>
                              <th>File Type</th>
                              <th>Read Length</th>
                              <th>Run Type</th>
                              <th>Lab</th>
                              <th>Date Added</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td contenteditable="true">
                                <a href="#">ENCFF053MTR</a>
                              </td>
                              <td>fastq</td>
                              <td>30 nt</td>
                              <td>single-ended</td>
                              <td>Michael's Lab</td>
                              <td>2016.2.23</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td contenteditable="true">
                                <a href="#">ENCSR855AWQ</a>
                              </td>
                              <td>fastq</td>
                              <td>20 nt</td>
                              <td>single-ended</td>
                              <td>Michael's Lab</td>
                              <td>2016.2.21</td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td contenteditable="true">
                                <a href="#">ENCFF919IIK</a>
                              </td>
                              <td>fastq</td>
                              <td>30 nt</td>
                              <td>single-ended</td>
                              <td>Michael's Lab</td>
                              <td>2016.2.18</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-12">
                          <h2>Long Chen's Experiments</h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Raw Data</th>
                                <th>QC Report</th>
                                <th>Script</th>
                                <th>Workflow</th>
                                <th>Mapping</th>
                                <th>Raw Result</th>
                                <th>Normalized Data</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <h2>Zhengyu Liang's Experiments</h2>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Raw Data</th>
                                <th>QC Report</th>
                                <th>Script</th>
                                <th>Workflow</th>
                                <th>Mapping</th>
                                <th>Raw Result</th>
                                <th>Normalized Data</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                                <td>
                                  <a href="#">file</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h2>Nadhir's Experiments</h2>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Raw Data</th>
                                  <th>QC Report</th>
                                  <th>Script</th>
                                  <th>Workflow</th>
                                  <th>Mapping</th>
                                  <th>Raw Result</th>
                                  <th>Normalized Data</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>1</td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td>2</td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td>3</td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                  <td>
                                    <a href="#">file</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body></html>